/*Resets do meu site*/
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'lato', sans-serif;
   outline: none;
}
html{
   scroll-behavior: smooth;
}

/*topo do site - MAIN*/
main{
   background-attachment: fixed;
   background-image:url('../imagens/bg.jpg');
   background-size: cover;
   height: 100vh;
   background-position: center;
}
.header{
   background: linear-gradient(#74b19de6,rgba(132, 117, 230,0.6));
   height: 100vh;
}
header{
   width: 100%;
   padding: 20px 0;
   display: flex;
   justify-content: center;
}

/*Menu desktop*/
ul.menu-desktop{
   list-style-type: none;
   text-align: center;
   display: flex;

}
ul.menu-desktop li{
   margin: 20px 10px;

}
ul.menu-desktop li a{
   color: white;
   font-size: 17px;
   font-weight: bold;
   text-decoration: none;
   text-transform: uppercase;
   padding: 10px;
}
ul.menu-desktop li a:hover{
   text-decoration: underline;
}

/*menu mobile*/
h3.button{
   display: none;
   position: absolute;
   right: 30px;
   top: 20px;
   font-size: 26px;
   color: white;
   padding: 10px 15px;
   cursor: pointer;
   z-index: 999;
}
ul.menu-mobile{
   list-style: none;
   text-align: center;
}
ul.menu-mobile li{
   margin: 20px 0;
}
ul.menu-mobile li a{
   color: white;
   font-size: 17px;
   font-weight: bold;
   text-decoration: none;
   text-transform: uppercase;
   padding: 10px 50px;
}
ul.menu-mobile li a:hover{
   text-decoration: underline;
}

/*classes de animation menu JS*/
.esconder{
   position: relative;
   top: -300px;
   transition: .6s linear;
}
.mostrar{
   position: relative;
<<<<<<< HEAD
   top: 0px;
=======
   top: 0;
>>>>>>> 602b6d4a16fd357cbf58dc4cf1e7a5ec504c79f7
   transition: .6s linear;
   z-index: 999;
}

/* conteudo central do MAIN*/
div.ola{
   text-align: center;
   color: white;
}
.ola h1{
   font-size: 160px;
}
.ola p{
   font-size: 17px;
   letter-spacing: 1px;
}
.ola a{
   color: white;
}
.ola h3{
   color: white;
   font-size: 50px;
   margin-top: 20px;
   cursor: pointer;
   animation: button .5s linear infinite alternate-reverse;
}
/*fim do MAIN*/
/*Section dos projetos*/
section.projetos{
   background-color: white;
   display: grid;
   grid-template-columns:  1fr 1fr;
   justify-items: center;
   padding: 50px 2%;
}
section.projetos img{
   width: 100%;
   max-width: 400px;
   padding: 0 2%;
}
.sites{
   margin: 30px 20px 30px 20px;
   border: 2px solid rgba(132, 117, 230);
   border-radius: 20px;
}
.sites:hover{
   animation: in 1s linear;
   animation-fill-mode: forwards;
}

.sites h2,.sites h3,.sites i{
   padding: 10px;
   color: rgba(116, 177, 157, 0.9);
}
.sites i{
   font-size: 25px;
   padding: 10px;
   background: linear-gradient(rgba(116, 177, 157, 0.9),rgba(132, 117, 230,0.6));
   border-radius: 50px;
   color: white;
   cursor: pointer;
   margin: 10px;
}
.sites i:hover{
   color:rgba(132, 117, 230,1);
}
.sites>a{
 color: white;
}
/*Fim dos Projetos*/
/*Inicio da section SOBRE*/
section.sobre{
   background: #ccf6e8;
   padding: 50px 4%;
}
.perfil{
   margin: 0 auto;
   width: 100%;
   max-width: 700px;
   text-align: center;
   padding: 0 4%;
}
.perfil h2{
   font-size: 20px;
   font-weight: 100;
   padding-bottom: 10px;
}
.perfil p{
   line-height: 22px;
}
.social{
   text-align: center;
   padding-top: 10px;
}
.social p{
   font-weight: bold;
   padding-bottom: 10px;
}
.social i{
   font-size: 25px;
   margin: 5px;
   padding: 10px;
   cursor: pointer;
}
.social i:hover{
   color: white;
}
.social a{
   color: black;
}
/*Fim da section sobre*/
/*Inicio da section tecnologies*/
section.tecnologies{
   padding: 50px 4%;
   
   font-size: 20px;
   text-transform: uppercase;
}
.title-tec{
   text-align: center;
   padding: 0 4% 10px 4%;
}
.icones{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   flex-wrap: wrap;
}
.icones img{
   width: 100%;
   max-width: 100px;
   padding: 30px 10px;
}
/*fim da section tecnologies*/
/*FOOTER*/
footer{
   text-align: center;
   padding: 50px 4%;
   background: rgba(132, 117, 230,0.5);
   color: white;
}
/*keyframes*/

/*animação do botão da div.ola*/
@keyframes button{
   0%{
      position: relative;
      top: 0;
   }
   100%{
      position: relative;
      top: -10px;
   }
}
/*animação dos quadros dos projetos*/
@keyframes in {
   100%{
      transform: scale(1.1);
   }
}
/*media querys*/
@media screen and (max-width: 768px){
   ul.menu-desktop{
      display: none;
   }
   ul.menu-mobile,h3.button{
      display: block;
   }
}
@media screen and (max-width: 640px){
   section.projetos{
      grid-template-columns: 1fr;
   }
}
@media screen and (max-width: 320px){
   .ola {
      position: relative;
      top: -50px;
   }
   .ola h3>i{
      top: -10px;
      position: relative;
   }
}
